@import url("https://fonts.googleapis.com/css?family=Gentium+Basic");
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic");
.jumbotron {
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to bottom, white, #717D7E);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, white, #717D7E);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, white, #717D7E);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, white, #717D7E);
  /* Standard syntax (must be last) */
  border: 2px solid black; }

[class|=lg-col-6] {
  margin: auto;
  margin-top: -10px;
  font-family: 'Gentium Basic', serif; }

h1 {
  font-size: 55px; }

h5 {
  font-size: 35px;
  margin-top: -20px; }

header img {
  height: 230px;
  width: 250px;
  margin-top: -55px;
  margin-left: -20px; }

header .media div:nth-of-type(2) {
  margin: auto;
  margin-top: -5px; }

@media screen and (max-width: 630px) {
  #hide {
    display: none; } }
@media screen and (max-width: 575px) {
  header img {
    height: 230px;
    width: 250px;
    margin-top: 0px;
    margin-left: 0px; } }
@media screen and (max-width: 575px) {
  header img {
    display: none; } }
/* CSS Document */
footer {
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to left, white, #717D7E);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to left, white, #717D7E);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to left, white, #717D7E);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, white, #717D7E);
  /* Standard syntax (must be last) */
  border: 1px solid black;
  height: 100px;
  margin: 10px;
  padding: 5px;
  font-family: 'Gentium Basic', serif; }

footer p {
  font-size: 30px; }

address {
  font-size: 20px;
  margin-top: -25px; }

footer section {
  float: right;
  margin-top: -100px; }

@media screen and (max-width: 500px) {
  footer section {
    display: none; } }
nav {
  background-color: #1A5276; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.navbar-light .navbar-nav .nav-link.disabled {
  color: #ffc024; }

a:not([href]):not([tabindex]) {
  color: white; }

body {
  background-color: lightgrey;
  background-image: url("../Images/shopView2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

main .media {
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to right, white, #717D7E);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, white, #717D7E);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, white, #717D7E);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, white, #717D7E);
  /* Standard syntax (must be last) */
  border: 1px solid black;
  margin: 16px; }

body img {
  height: 15em;
  width: 15em; }

#slide {
  opacity: 0;
  -webkit-animation: slide 10s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 10s forwards;
  animation-delay: 1s; }

#slide2 {
  opacity: 0;
  -webkit-animation: slide 10s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 10s forwards;
  animation-delay: 2s; }

#slide3 {
  opacity: 0;
  -webkit-animation: slide 10s forwards;
  -webkit-animation-delay: 3s;
  animation: slide 10s forwards;
  animation-delay: 3s; }

@-webkit-keyframes slide {
  10% {
    opacity: 10; }
  20% {
    opacity: 20; }
  30% {
    opacity: 30; }
  40% {
    opacity: 40; }
  50% {
    opacity: 50; }
  60% {
    opacity: 60; }
  70% {
    opacity: 70; }
  80% {
    opacity: 80; }
  90% {
    opacity: 90; }
  100% {
    opacity: 100; } }
@keyframes slide {
  10% {
    opacity: 10; }
  20% {
    opacity: 20; }
  30% {
    opacity: 30; }
  40% {
    opacity: 40; }
  50% {
    opacity: 50; }
  60% {
    opacity: 60; }
  70% {
    opacity: 70; }
  80% {
    opacity: 80; }
  90% {
    opacity: 90; }
  100% {
    opacity: 100; } }
@media screen and (max-width: 630px) {
  body img {
    display: none; } }

/*# sourceMappingURL=about.css.map */
