@import url("https://fonts.googleapis.com/css?family=Gentium+Basic");
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic");
@import url("https://fonts.googleapis.com/css?family=Bitter");
.jumbotron {
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to bottom, white, #717D7E);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, white, #717D7E);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, white, #717D7E);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, white, #717D7E);
  /* Standard syntax (must be last) */
  border: 2px solid black; }

[class|=lg-col-6] {
  margin: auto;
  margin-top: -10px;
  font-family: 'Gentium Basic', serif; }

h1 {
  font-size: 55px; }

h5 {
  font-size: 35px;
  margin-top: -20px; }

header img {
  height: 230px;
  width: 250px;
  margin-top: -55px;
  margin-left: -20px; }

header .media div:nth-of-type(2) {
  margin: auto;
  margin-top: -5px; }

@media screen and (max-width: 630px) {
  #hide {
    display: none; } }
@media screen and (max-width: 575px) {
  header img {
    height: 230px;
    width: 250px;
    margin-top: 0px;
    margin-left: 0px; } }
@media screen and (max-width: 575px) {
  header img {
    display: none; } }
/* CSS Document */
footer {
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to left, white, #717D7E);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to left, white, #717D7E);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to left, white, #717D7E);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, white, #717D7E);
  /* Standard syntax (must be last) */
  border: 1px solid black;
  height: 100px;
  margin: 10px;
  padding: 5px;
  font-family: 'Gentium Basic', serif; }

footer p {
  font-size: 30px; }

address {
  font-size: 20px;
  margin-top: -25px; }

footer section {
  float: right;
  margin-top: -100px; }

@media screen and (max-width: 500px) {
  footer section {
    display: none; } }
nav {
  background-color: #1A5276; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.navbar-light .navbar-nav .nav-link.disabled {
  color: #ffc024; }

a:not([href]):not([tabindex]) {
  color: white; }

body {
  background-color: lightgrey;
  background-image: url("../Images/shopView2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

h4 {
  padding: 10px;
  margin: 10px;
  font-family: 'Bitter', serif;
  font-weight: bold; }

div p {
  padding: 10px;
  margin: 10px; }

#transition {
  margin: 10px;
  padding: 10px; }

#transition:hover {
  -ms-transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
  background: white;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to right, white, #717D7E);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, white, #717D7E);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, white, #717D7E);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, white, #717D7E);
  /* Standard syntax (must be last) */
  border: 1px solid black;
  border-radius: 10px; }

/*# sourceMappingURL=index.css.map */
